<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="btn btn-default"><a>@Html.ActionLink("Volver", "Index", "Customers")</a> &raquo;</div>
    <h2>Ops!! hubo un error...</h2>
    <h3>@ViewBag.Mensaje1</h3>
</body>
</html>
