form
    margin-left: 5%
    .msj-form
        font-size: 1rem
        color: #a7a6a6
    span
        background-color: #e75757
        color: white
    .form-group
            margin-bottom: 3%
    .buttons-form
            display: flex
            flex-direction: row
            .buttons
                margin-left: 3%
            .btn
                font-size: 0.7rem       
            
            