div
    .containerCustomers
    
    background-color: giansboro
    h2
        float: right
        margin-right: 5%
        margin-bottom: 3%
    .containerForm
        margin: 3%
    .containerListCustomer
        margin: 3%
        table
            tbody
                .td-editar
                    width: 5%
                div
                    margin: 5px
                    margin-bottom: 30px
                    justify-content: center
                    .btn
                        font-size: 0.7rem
                    .btn-light2
                        text-align: center
                        margin: auto
                        background-color: #e75757
                        color: white
                    .btn-light
                        background-color: #e4e3e3
                        color: white
                        margin-right: 5px
                        


  
