<div class="solapas" rol="tabpanel">
    <ul class="nav nav-tabs" rol="tablist">
      <li class="nav-item active" rol="presentation">
        <a class=" nav-link" aria-selected="false" data-toggle="tab" [routerLink]="['/northwind/customers']" >Customers</a>
      </li>
      <li class="nav-item" rol="presentation">
        <a class="it nav-link" aria-selected="false" data-toggle="tab"   [routerLink]="['/northwind/shippers']">Shippers</a>
      </li>
      <li class="nav-item" rol="presentation">
        <a class="it nav-link" aria-selected="false" data-toggle="tab" >Disabled</a>
      </li>
    </ul>
  </div>
<router-outlet></router-outlet>