<div class="solapas">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class=" nav-link active" aria-selected="false" [routerLink]="['/northwind/customers']" >Customers</a>
      </li>
      <li class="nav-item">
        <a class="it nav-link" aria-selected="false"   [routerLink]="['/northwind/shippers']">Shippers</a>
      </li>
      <li class="nav-item">
        <a class="it nav-link" aria-selected="false" >Disabled</a>
      </li>
    </ul>
  </div>
<router-outlet></router-outlet>