@*@model responseBody;
@{
    ViewBag.Title = "Personajes";
}*@
<h3 style="float:right;color:dodgerblue">@ViewBag.Mensaje</h3>

<hr />
<div>
    <table class="table-responsive table table-striped">
        @*<thead>
            <tr>
                <th>Compania</th>
                <th>Contacto</th>
                <th>Pais</th>
                <th>Identificador</th>
            </tr>
        </thead>*@

        @foreach (var m in Model)
        {
            <tr>
                <td>@m.id</td>
              
            </tr>
        }
    </table>

</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@

