<form [formGroup]="uploadForm" #form>
    <h3 class="msj-form"><span>{{msj_to_usurio}}</span> su formulario >></h3>
    <div class="bloque1">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" placeholder="Empresa" [value]=""
        formControlName="CompanyName" [ngClass]="{'is-invalid': submitted && f.CompanyName.errors}" >
      </div>
      <div *ngIf="submitted && f.CompanyName.errors" class="invalid-feedback">
        <div *ngIf="f.CompanyName.errors.required"> Por favor ingrese datos</div>
      </div>

      <div class="form-group col-md-6">
        <input type="text" class="form-control" placeholder="Nombre del Contacto" [value]=""
        formControlName="ContactName" [ngClass]="{'is-invalid': submitted && f.ContactName.errors}" >
      </div>
      <div *ngIf="submitted && f.ContactName.errors" class="invalid-feedback">
        <div *ngIf="f.ContactName.errors.required"> Por favor ingrese datos</div>
      </div>

    </div>
     
    <div class="form-group col-md-6">
      <label for="Country">Pais</label>
      <input type="text" class="form-control" placeholder="Pais" [value]=""
      formControlName="Country" [ngClass]="{'is-invalid': submitted && f.Country.errors}" >
    </div>
    <div *ngIf="submitted && f.Country.errors" class="invalid-feedback">
      <div *ngIf="f.Country.errors.required"> Por favor ingrese datos</div>
    </div>

    <br>
    <div class="buttons-form">
      <div class="buttons">
        <button type="button" class="btn btn-light" (click)="onSubmit()">Guardar</button>
      </div>
      <div class="buttons">
        <button type="button" class="btn btn-light" (click)="clean()">Cancelar</button>
      </div>
    </div>
  </form>