<form [formGroup]="uploadForm" #form>
    <h3>Ingrese o edite clientes</h3>
    <div class="bloque1">
      <!-- <input type="hidden" class="form-control"  [value]="" formControlName="customerId"> -->
      <div class="form-group col-md-6">
        <!-- <label for="companyName">Empresa</label> -->
        <input type="text" class="form-control" placeholder="Empresa" [value]=""
        formControlName="CompanyName" [ngClass]="{'is-invalid': submitted && f.CompanyName.errors}" >
      </div>
      <div *ngIf="submitted && f.CompanyName.errors" class="invalid-feedback">
        <div *ngIf="f.CompanyName.errors.required"> Por favor ingrese datos</div>
      </div>

      <div class="form-group col-md-6">
        <!-- <label for="contactName">Contacto </label> -->
        <input type="text" class="form-control" placeholder="Nombre del Contacto" [value]=""
        formControlName="ContactName" [ngClass]="{'is-invalid': submitted && f.ContactName.errors}" >
      </div>
      <div *ngIf="submitted && f.ContactName.errors" class="invalid-feedback">
        <div *ngIf="f.ContactName.errors.required"> Por favor ingrese datos</div>
      </div>

    </div>
     
    <div class="form-group col-md-6">
      <!-- <label for="country">Pais</label> -->
      <input type="text" class="form-control" placeholder="Pais" [value]=""
      formControlName="Country" [ngClass]="{'is-invalid': submitted && f.Country.errors}" >
    </div>
    <div *ngIf="submitted && f.Country.errors" class="invalid-feedback">
      <div *ngIf="f.Country.errors.required"> Por favor ingrese datos</div>
    </div>

    <br>
    <div class="product-detail2">
      <div class="buttons">
        <button type="button" class="btn btn-light" (click)="onSubmit()">Guardar</button>
        <!-- <button class="add"><p style="padding-top: 10px;" (click)="limpiar()">CANCELAR</p></button> -->
      </div>
    </div>
  </form>