<div class="containerCustomers">
  <h2>Clientes</h2>
  <br>
  <div class="containerForm">
      <app-component-customers-forms [elementToEdit]="elementToEdit"></app-component-customers-forms>
  </div>
  <hr>
  <div class="containerListCustomer">
      <table class="table ">
          <thead>
            <tr>
              <th scope="col">Empresa</th>
              <th scope="col">Contacto</th>
              <th scope="col">Pais</th>
            </tr>
          </thead>
          <tbody *ngFor="let c of customers ">
            <tr>
              <td>{{c.CompanyName}}</td>
              <td>{{c.ContactName}}</td>
              <td>{{c.Country}}</td>   
            </tr>
            <div style="margin-top: 5%;">
              <button type="button" class=" btn btn-light" (click)="edit(c.CustomerID)">Editar</button>
              <button type="button" class=" btn btn-light2" (click)="delete(c.CustomerID)">Eliminar</button>
              <br>
            </div>
          </tbody>
        </table>
  </div>
</div>




   
