<div class="conteinerApiMorty">
    <h2>Morty</h2>
    <div class="containerMorty">
        <div class="baseCharacters" *ngFor="let ch of characters ">
            <div class="card">
                <img [src]="ch.img" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Name: {{ch.name}}</h5>
                  <p class="card-text">Especie: {{ch.species}}</p>
                  <p class="card-text">Estatus: {{ch.status}}</p>
                  <div class="btn btn-primary">
                    <p>...</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>



